.sto-1 {
  background-color: #f6f6f6;
}
p {
  font-family: "Montserrat", sans-serif;
}
#stoli {
  color: black;
  text-transform: uppercase;
  list-style: square !important;
}

h1 {
  color: "#55198b" !important;
}
.sto-2 {
  background-color: #f6f6f6;
  background-position: center;
  color: rgb(255, 255, 255);
  background-attachment: fixed;
  background-size: cover;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
.what-we-will-do {
  background-image: url("../../styles/img/bg5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 600px) {
  .jumbo-content {
    text-align: center;
  }
}
