.sto-1 {
  background-image: linear-gradient(
    to right,
    hsl(222deg 56% 96%),
    rgb(94, 150, 224)
  );
}
p {
  font-family: "Montserrat", sans-serif;
}
#stoli {
  color: black;
  text-transform: uppercase;
  list-style: square !important;
}

h1 {
  color: "#55198b" !important;
}
.sto-2 {
  background-image: linear-gradient(
    to right,
    hsl(222deg 56% 96%),
    rgb(94, 150, 224)
  );
  background-position: center;
  color: rgb(255, 255, 255);
  background-attachment: fixed;
  background-size: cover;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
