@media only screen and (max-width: 600px) {
  img {
    height: auto;
    max-width: 100%;
  }
  #heading {
    align-content: center !important;
    margin-top: 10px !important;
  }
  .moto {
    padding: 20px !important;
  }
}
.moto {
  background: linear-gradient(to left, rgba(255, 0, 0, 0), hsl(222deg 56% 96%));
  padding-left: 100px;
}
#poster {
  height: auto;
  max-width: 100%;
  padding-left: 4.5rem;
}
#heading {
  font-family: "Krona One", sans-serif;
  margin-top: 8rem;
}
p {
  font-family: "Poppins", sans-serif;
}
h1,
h2 {
  font-family: "Krona One", sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#service {
  box-shadow: rgba(255, 0, 0, 0);
}
#sto,
#dm,
#mr,
#pts {
  height: 350px;
  width: auto;
}
#servicerow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
