.pts {
  background-image: linear-gradient(
    to right,
    hsl(222deg 56% 96%),
    rgb(94, 150, 224)
  );
}

.card {
  height: 300px;
  box-shadow: 0px 4px 10px grey;
  margin: "5px";
}
.card:hover {
  box-shadow: 1px 8px 20px grey;
  -webkit-transition: box-shadow 0.2s ease-in;
}
p {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
li {
  padding: 5px;
}
.lastbg {
  background-image: url("../../styles/img/support.png");
}
.cardstyle {
  height: 25rem;
}
@media screen and (max-width: 1000px) {
  .cardstyle {
    height: auto;
  }
}
