h1 {
  color: #55198b;
}
.jumbo {
  background-color: #f6f6f6;
}
.jumbo-ba {
  padding-left: 10rem;
  padding-top: 4rem;
}
.ba-poten {
  background-color: #f6f6f6;
}
.card {
  height: 28rem !important;
  margin: 5px;
}
.after-potential {
  background-image: url("../../styles/img/bg5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1000px) {
  .cardstyleba {
    height: auto !important;
  }
  .jumbo-ba {
    padding-left: 2rem;
    padding-top: 2rem;
  }
}
#bdescrip {
  list-style: square;
  margin: 5px !important;
}
