h1 {
  color: #55198b;
}
.jumbo {
  background-image: linear-gradient(
    to right,
    hsl(222deg 56% 96%),
    rgb(94, 150, 224)
  );
}
.jumbo-ba {
  padding-left: 10rem;
  padding-top: 4rem;
}
.ba-poten {
  background-image: linear-gradient(
    to right,
    hsl(222deg 56% 96%),
    rgb(94, 150, 224)
  );
}
.card {
  height: 28rem !important;
  margin: 5px;
}
@media screen and (max-width: 1000px) {
  .cardstyleba {
    height: auto !important;
  }
}
#bdescrip {
  list-style: square;
  margin: 5px !important;
}
